/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 nav, ul, a,
 nav .brand-logo {
   color: rgb(8, 20, 253);
   text-decoration: none;
   list-style: none;
   margin-left:15px;
   margin-right: 10px;
   padding-left: 50px;
 }
 
 p {
   line-height: 2rem;
 }
 
 .sidenav-trigger {
   color: #219186;
 }
 
 container {
   min-height: 380px;
   line-height: 0;
   height: auto;
   color: rgba(255,255,255,.9);
 }
   .parallax-container .section {
     width: 100%;
   }
 
 @media only screen and (max-width : 992px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
   }
   #index-banner .section {
     top: 10%;
   }
 }
 
 @media only screen and (max-width : 600px) {
   #index-banner .section {
     top: 0;
   }
 }
 
 .icon-block {
   padding: 0 15px;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }
 
 footer.page-footer {
   margin: 0;
 }

 .container {
  display: flex;
  flex-wrap:  wrap;
  flex-direction: row;
}
.card-content{
  
}
.card .card-image img{
  
  align-items: center;
  margin-right: 20px;
  height: 200px;
  width: auto;
}

.card{
  
  background-color: rgba(27, 150, 227, 0.258);
  margin-left: 20px;
}

h6,.text-lighten-3 {
  color: rgb(104, 116, 134);
  margin-right: 20px;
  margin-left: 202px;
  
}

.hola,h1{
  text-align: center;
}
.caption-center-align {
color :rgb(184, 18, 18);
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
max-width: 200px;
text-align: center;
}
h6, h4{
font-size:medium;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
max-width: 200px;
align-content: center;
align-items: center;
align-self: center;

}
article>nft>p {
  align-content: center;
align-items: center;
align-self: center;

}

img {
  margin-top: 100px;
  margin-left: 20px;
 margin-right: 20px;
 flex-wrap: wrap;
 
}
footer {
  background-color:  #00887a5d;
  padding-top: 24px;
  margin-left: 0px;
  margin-right: 0px;
 
}
